body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tahoma', sans-serif;
    background-color: lightgray;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ff9900;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

section#intro,
#experience {
    background-color: white;
    padding: 80px 20px;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    color: rgb(80, 78, 78);
    font-size: 36px;
    margin-bottom: 20px;
}

#intro h1,
#experience h1 {
    margin-bottom: 20px;
}

#intro p,
#experience p {
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}

#intro .profile-photo {
    max-width: 100%;
    border-radius: 10%;
    margin-bottom: 0px;
}

#intro h1 {
    color: rgb(80, 78, 78);
    font-size: 40px;
    margin-bottom: 00px;
}

.social-button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    margin: 10px;
    font-size: 38px;
}

#experience h1,
.experience-item h3,
.project-item h3 {
    color: #333;
    margin-bottom: 10px;
    margin-top: 0;
}

.experience-item,
.project-item {
    max-width: 800px;
    text-align: left;
    margin-bottom: 40px;
}

.experience-item p,
.project-item p {
    font-style: italic;
    margin-top: 0;
    color: #666;
}

.experience-item ul,
.project-item ul {
    list-style-type: disc;
    padding-left: 20px;
    color: #444;
}

.socials {
    display: flex;
    gap: 10px;
}

.resume-view {
    font-size: 24px;
    color: navy;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.resume-view:hover {
    color: white;
}

.contact-info a {
    font-size: 20px;
    color: navy;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-info a:hover,
.contact-info a:focus {
    color: gray;
}
